* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  top: 0;
  background: #042331;
}
.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #063146;
  user-select: none;
}
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  box-sizing: border-box;
  transition: 0.4s;
}
.sidebar ul li:hover a {
  padding-left: 50px;
  color: rgb(0, 149, 255);
}
.sidebar ul a i {
  margin-right: 16px;
  font-size: 24px;
}
.content {
  margin-left: 280px;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 20px;
}
.content table {
  border-collapse: collapse;
  border-spacing: none;
}

.content table th {
  text-align: start;
  font-size: 28px;
  color: black;
}
.content table td {
  color: gray;
}
.delete {
  margin-left: 280px;
  margin-top: 20px;
}
.delete table {
  table-layout: auto;
  width: 100%;
  border-spacing: 0;
  text-align: start;
  padding: 10px 10px 10px 0px;
}
.delete table th {
  border: 1px solid black;
  height: 30px;
  background-color: burlywood;
}
.delete table td {
  text-align: start;
  border: 1px solid black;
  width: 24%;
  height: 25px;
  padding: 5px;
  text-align: start;
  background-color: beige;
}
.delete input {
  width: 100%;
  font-size: larger;
  color: red;
}

/**/

.insert {
  margin-left: 280px;
  margin-top: 20px;
}
.insert table {
  table-layout: auto;
  width: 100%;
  border-spacing: 0;
  text-align: start;
  padding: 10px 10px 10px 0px;
}
.insert table th {
  border: 1px solid black;
  height: 30px;
  width: 25%;
  background-color: burlywood;
}
.insert table td {
  text-align: start;
  border: 1px solid black;
  width: 75%;
  height: 25px;
  padding: 5px;
  text-align: start;
  background-color: beige;
}
.insert table td input {
  border: none;
  outline: none;
  font-size: larger;
  background-color: beige;
  width: 100%;
}
.insert table td textarea {
  border: none;
  outline: none;
  font-size: larger;
  width: 100%;
  background-color: beige;
}
.insert input[type=submit]{
    text-align: center;
    height: 35px;
    display: block;
    margin: auto;
    position: relative;
    background-color: green;
    border: 1px solid green;
    border-radius: 20px;
    color: white;
    padding: 5px;
    font-size: 20px;
}