* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.details {
  display: flex;
  margin: 60px 20px 0px 20px;
}
/* book image */
.image {
  min-height: 30vh;
}
.image img {
  height: 350px;
  width: 300px;
  border: 1px solid white;
  border-radius: 10px;
  object-fit: fill;
  margin-right: 20px;
}
/* book details */
.column {
  max-height: 30vh;
}
@media screen and (min-width: 500px) {
  .disc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    color: gray;
    margin-top: 20px;
    font-weight: 100;
  }
}
@media screen and (max-width: 1000px) {
  .disc {
    color: gray;
    margin-top: 20px;
    font-weight: 100;
  }
}

.book_details {
  margin-top: 20px;
  display: flex;
}
.book_details th {
  text-align: start;
}
.book_details td {
  text-align: start;
  padding-left: 20px;
  color: gray;
  white-space: nowrap;
}
.button {
  padding: 5px;
  margin-top: 20px;
  height: 50px;
  width: 180px;
  color: white;
  font-size: 18px;
  border: 2px solid white;
  background-color: #16acb1;
  float: left;
  border-radius: 50px;
}
/* other author books */
.authorcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
}
.authorcolumn {
  margin-bottom: 20px;
  margin-left: 20px;
}
.authorcontainer .h2 {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0px 10px 20px;
}
.authorcolumn img {
  height: 200px;
  width: 28vh;
  object-fit: fill;
  border-radius: 5px;
}

